<!doctype html>
{% load static%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >

    <title>{{ title }}</title>
      <link href="{% static 'css/style.css' %}" rel="stylesheet" >
  </head>
<body>
<div class="container-fluid" style="margin-top:200px">
       <label for="sms-send"><strong>NBI NAVIGATOR SEARCH:</strong></label>
              <div class="input-group">

                <input type="text" class="form-control" style="border-left:none;">
                <span class="input-group-btn">
                    <a href="/" class="btn btn-primary">SEARCH</a>
                </span>
              </div>
            </div>
</body>
</html>